div {
    margin: 10px;
}

.flex {
    display: flex;
}

form {
    width: 33vw;
    text-align: center;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    background-color: #CCCCCC;
}

p {
    border-radius: 15px;
    padding: 10px  10px;
    background-color: rgb(46, 45, 45);
    vertical-align: middle;
    color: white;
}

select {
    border-radius: 15px;
    padding: 3px;
}

#submit {
    width: 98vw;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.tableDiv {
    background-color: #a8a8a8;
    padding: 10px;
    border-radius: 15px;
}

.bg {
    background-size: 100px 82px;
}

table {
    width: 94vw;
    background-color: #EFE7DB ;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

td {
        text-align: center;
}